@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
.PokeLandingPage {
  /* ---- CSS Variables Section ----- */
  --black: #363636;
  --line-thickness: 5px;
  /* -------------------------------- */
  width: 100%;
  overflow: hidden;
  position: relative;
}

.navContainer {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navContainer>* {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: calc(15px + (19 - 15) * (100vw - 320px) / (960 - 320));
  padding: 10px 8px 20px;
  cursor: pointer;
}

.contentContainer {
  width: 100%;
  position: relative;
}