.togglers {
  outline: 2px solid indianred;
  outline-offset: -18px;
  border-radius: 4px;
  padding: 20px;
  max-width: 500px;
  margin: 25vh auto;
  padding: 0 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.togglers>* {
  z-index: 1;
  padding: 20px;
  margin: 20px;
}

@media (max-width: 550px) {
  .togglers {
    flex-direction: column;
  }
}