.PoppingCard {
  /* ---- CSS Variables Section ----- */
  --brdr-color: #c8c8c8;
  --brdr-width: 1px;
  --brdr-radius: 5px;
  --shadow-opacity: 0.15;
  --trans-speed: 150ms;
  --pop-distance: 12px;
  /* -------------------------------- */
  overflow: hidden;
  width: calc(225px + (312 - 225) * (100vw - 320px) / (750 - 320));
  height: 370px;
  border: var(--brdr-width) solid var(--brdr-color);
  border-radius: var(--brdr-radius);
  transition: all var(--trans-speed) ease-in;
}

.imageHalf {
  border-bottom: var(--brdr-width) solid var(--brdr-color);
  width: 100%;
  height: 50%;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.textHalf {
  width: 100%;
  height: 50%;
}

.textHalf h2,
.textHalf p {
  margin: 15px;
}

.textHalf h2 {
  font-size: calc(28px + (30 - 28) * (100vw - 320px) / (750 - 320));
}

.textHalf p {
  font-size: calc(13px + (13 - 13) * (100vw - 320px) / (750 - 320));
}

.PoppingCard:hover {
  transform: translateY(calc(var(--pop-distance) * -1));
  box-shadow: 0 var(--pop-distance) 28px rgba(0, 0, 0, var(--shadow-opacity));
}