.Buttons {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.Buttons > * {
  text-align: center;
  margin: 40px;
}

.Buttons h2 {
  margin-bottom: 20px;
}
