.darkenButtonGroup {
  /* ---- CSS Variables Section ----- */
  --btn-color: #5f9ea0;
  --hover-color: #538b8d;
  --border-width: 2px;
  /* -------------------------------- */
  border: none;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  flex: auto;
  margin: calc(var(--border-width) * -1);
  border: var(--border-width) solid white;
  padding: 10px 30px;
  font-size: 30px;
  background: var(--btn-color);
  color: white;
  cursor: pointer;
}

.button:hover {
  background: var(--hover-color);
}

@media (max-width: 500px) {
  .darkenButtonGroup {
    flex-direction: column;
  }
}
