/*
HalvingGallery has two containers
(provides better control over the grid gap)

First Container - HalvingGallery
use margin or padding to create space around the actual grid

Second Container - ImageContainer
recommend to only adjust --gap,
and not mess with margin or padding

Special Note: must use overflow-x:hidden on main root because the negative margin
*/

.HalvingGallery {
  /* ---- CSS Variables Section ----- */
  --gallery-width: 100%;
  --gallery-height: 50vh;
  --gallery-padding: 20px;
  --gap: 10px;
  --pri-img-width: 33.33%;
  --sec-img-width: 50%;
  /* -------------------------------- */
  margin: 0 auto;
  padding: var(--gallery-padding);
  width: var(--gallery-width);
  min-height: var(--gallery-height);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: calc(var(--gap) * -1);
}

.imageItem {
  /* ---------For Editing Layout---------- */
  background: #c5c5c5;
  /* ------------------------------------- */
  margin: var(--gap);
  flex: calc(var(--pri-img-width) - var(--gap) * 2);
}

.imageItem:nth-of-type(5n + 4),
.imageItem:nth-of-type(5n) {
  --pri-img-width: var(--sec-img-width);
}

@media (max-width: 820px) {
  .imageItem {
    --pri-img-width: var(--sec-img-width);
  }
  .imageItem:nth-of-type(3n) {
    --pri-img-width: 100%;
  }
}