@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Raleway:300,400,500');
.centeredDropNav {
  /* ---- CSS Variables Section ----- */
  --nav-height: 120px;
  --underline-gap: 150%;
  --box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.17);
  /* -------------------------------- */
  width: 100%;
  min-height: var(--nav-height);
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navBar {
  background: white;
  padding: 20px;
  width: 100%;
  min-height: var(--nav-height);
  position: relative;
  display: flex;
  align-items: center;
}

.toggleBtn {
  display: none;
}

.logoLink {
  color: #242424;
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: raleway;
}

.logo::after {
  content: '';
  background: #d1d1d1;
  position: absolute;
  width: 250px;
  height: 2px;
  top: 170%;
  /* top: 150%; */
  left: 50%;
  transform: translateX(-50%) scale(1, 1);
  /* transition: width 550ms cubic-bezier(0, 0, 0.86, -0.54); */
  /* transition: width 550ms cubic-bezier(0.21, -0.34, 0.52, -0.37); */
  /* transition: width calc(var(--trans-delay) + var(--trans-delay)) cubic-bezier(0.24, -0.81, 0.62, -1.15); */
  transition: all 360ms cubic-bezier(0.67, -0.35, 0.48, 0.79);
}

.centeredDropNav:hover .logo::after {
  transform: translateX(-50%) scale(2.4, 1);
}

.links {
  text-align: center;
  list-style: none;
  margin: 20px 20px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.a {
  margin-bottom: 20px;
  color: #242424;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 20px;
  opacity: 0.7;
}

.a:hover {
  opacity: 1;
}

@media (max-width: 960px) {
  .centeredDropNav {
    box-shadow: 0 0;
  }
  .navBar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .toggleBtn {
    display: block;
    padding: 20px;
  }
  .logo::before,
  .logo::after {
    display: none;
  }
  .links {
    box-shadow: 0 -10px 20px 10px rgba(0, 0, 0, 0.274);
    background: #f5f5f5;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 98px;
    left: -20px;
    transform: translateY(-100%);
    display: none;
    transition: all 700ms;
  }
  .a {
    padding: 20px;
    border-bottom: 2px solid #e4e4e4;
    margin: 0;
  }
  .a:hover {
    background: #e9e9e9;
  }
  .dropDownEnter,
  .dropDownEnterDone {
    display: block;
  }
  .dropDownEnterActive,
  .dropDownEnterDone {
    transform: translateY(0%);
  }
  .dropDownExit,
  .dropDownExitActive {
    display: block;
    transform: translateY(-100%);
  }
  .dropDownExitDone {
    transform: translateY(-100%);
    display: none;
  }
}